* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: stretch;
    font-size: 16px;
    font-family: monospace;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

.entry {
    background: black;
    border: none;
    border-top: 1px solid #444;
    color: green;
    flex: 0 0 auto;
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    outline: none;
    padding: 0.5em 1em;
}

.game {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
}

.log {
    background: black;
    color: green;
    flex: 1 1 100%;
    overflow-y: auto;
    padding: 0.25em 1em;
}

.status {
    background: black;
    border: none;
    border-bottom: 1px solid #444;
    color: green;
    display: flex;
    flex: 0 0 auto;
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    padding: 0.5em 1em;
}

.score {
    flex: 1 1 50%;
    text-align: right;
}

.turns {
    flex: 1 1 50%;
}
